import {StyleSheet} from 'react-native'

const estilos = StyleSheet.create({
  janela: {
    flex: 1
  },
  texto: {
    padding: 20,
    fontSize: 20,
    fontWeight: 'bold'
  }
})

export default estilos;